/* The Modal (background) */
.myp-modal {
  z-index: 99999; /* Sit on top */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto; /* Enable scroll if needed */
  background-color: transparent;
  padding-top: 20px;
}

.myp-modal-content {
  background-color: #fefefe;
  margin: 0 auto; /* 15% from the top and centered */
  border: none;
  width: 80%; /* Could be more or less, depending on screen size */
  box-shadow: 0px 0px 1px 1px #3a3a3a;
  font-family: NotoKrR, Arial, Helvetica, sans-serif;
}

.myp-button-container {
  height: 46px;
  background-color: #3d3d3d;
  display: flex;
  box-shadow: 0px 1px 1px #7c7c7c;
  font-family: NotoKrR, Arial, Helvetica, sans-serif;
}

.myp-button-left-container {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.myp-button-right-container {
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  color: #c4c4c4;
}

.myp-button-right-container:hover {
  color: #e8e8e8;
}

.myp-btn {
  background-color: transparent;
  font-size: 14px;
  margin-right: 40px;
  color: #c4c4c4;
  cursor: pointer;
  border: none;
}

.myp-btn i {
  margin-right: 5px;
}

.myp-btn.active {
  color: #c4e6ff;
}

.myp-btn.active:hover {
  color: #c4e6ff;
}

.myp-btn.hide {
  display: none;
}

.myp-btn:hover {
  color: #e8e8e8;
}

.myp-btn:focus {
  outline: none;
}

/* The Close Button */
.myp-close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: 0 10px 4px 0;
}

.myp-close-btn:hover,
.myp-close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

body.myp-modal-opened {
  overflow: hidden;
}

.myp-grey-background {
  z-index: -1;
  background-color: black;
  opacity: 0.6;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #000000;
}

.myp-page-content-iframe {
  width: 100%;
  height: 80vh;
  border: 0px;
}

@font-face {
font-family: 'NotoKr';
font-style: normal;
font-weight: 300;
src: url(/fonts/NotoSansCJKkr-Light.otf) format('otf');
}


@font-face {
font-family: 'NotoKrR';
font-style: normal;
font-weight: bold;
src: url(/fonts/NotoSansCJKkr-Bold.otf) format('otf');
}
